
					<dl class="tabs"><!--Pestañas de Actores-->
						<dd class="active"><a href="#simple1">Actor individual</a></dd>
						<dd><a href="#simple2">Actor transmigrante</a></dd>
						<dd><a href="#simple3">Actor colectivo</a></dd>
					</dl>

					<ul class="tabs-content">
					  <li class="active" id="simple1Tab">
						  <!---Contenido de la pestaña Actor individual--->
								<div class="three columns">
															
										<?php echo $listaActores;?> <!---Se llama a listaActores--->
								</div>
								
								
									<div class="nine columns">
										 
												<?php echo $individual;?>
									</div>
								
							<!--Termina contenido de la pestaña Actor individual-->
					  </li>
					  
					  
					  <li id="simple2Tab">
						  
						  <!---Contenido de la pestaña Actor transmigrante--->
								<div class="three columns">
									
									<p>Lista de actores</p>
										<?php echo $listaActores;?> <!---Se llama a listaActores--->
									</div>
								
								
									<div class="nine columns">
												<?php echo $transmigrante;?>
									</div>
								
							<!--Termina contenido de la pestaña Actor transmigrante-->
						  
						</li>
						
					  <li id="simple3Tab">
						
						  <!---Contenido de la pestaña Actor Colectivo--->
								<div class="three columns">
									
									<p>Lista de actores</p>
										<?php echo $listaActores;?> <!---Se llama a listaActores--->
									</div>
								
								
									<div class="nine columns">
												<?php echo $colectivo;?>
									</div>
								
							<!--Termina contenido de la pestaña Actor Colectivo-->
							
					  </li>
					
					
					</ul>
