<!DOCTYPE html>
<html>
<head>
  <style>
 div { width:60px; height:60px; margin:10px; float:left; }
 p { clear:left; font-weight:bold; font-size:16px; 
     color:blue; margin:0 10px; padding:2px; }
 </style>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>

<script>

function AgrearEstadodir() {
			$("#listaElementos").append("<option value='1'>"+ $("#opcionTipoDir").val() +"</option>");
    };
</script>
									<p>
									
										<label for="estadodir">Estado</label>
										<div class="six columns">
											<select id="listaElementos">						
											<?php foreach($estado as $item):?>
														<option id="direccionActor_estadosCatalogo_estadoId" name="direccionActor_estadosCatalogo_estadoId" value="<?=$item?>"><?=$item?></option>
											<?php endforeach;?>
											</select>
										</div>	
									
									<div class="six columns">
										<input id="mostrarEstadodir" type='button' onclick="mostar()" value='Agregar Campo'>
			
										<p class="Escondido" id="showEstadodir">
										<input  type='textbox' id="opcionTipoDir" >	
										<input  type='button' id="AgrearEstadodir" onclick="AgrearEstadodir()" value='+'  >
										<input  type='button' id="QuitarEstadodir" onclick="QuitarEstadodir()" value='-'  >
										</p>

									</div>
									
									</p>
	


</body>
</html>
