body{		
	background-color:#fff;
	
}
#container{
		position:absolute;
		background-color:#fff;
		margin:5% 0% 0% 30%;
		width:40%;
		height:60%;
	border: 2px solid #333;
		-moz-box-shadow:10px 10px 10px #333;
		-webkit-box-shadow:10px 10px 10px #333;
		box-shadow:10px 10px 10px #333;
		-moz-border-radius: 29px;
		-webkit-border-radius: 29px;
		border-radius: 29px;
}
#bienvenido{
		width:25%;
		float:right;
		margin:10% 5% 0% 0%; 
	}

#texto{
		background-color:#e32500 ;
		height:5%;
		margin-top:-1%;
		
	}

#logo{
		width:40%;
		margin-left: 4%;
	}
	
#formulario{
		width:90;
		margin:5% 20% 0% 20%;
	}

#usuario, #contrasenia,#contenidoLogin{
	width:85%;
	}

.img{
		width:120%;
	}
	
.h2{
	margin:0% 0% 0% 0%;
	font-family: 'Source Sans Pro', sans-serif;
	}


.h1{
	font-family: 'Source Sans Pro', sans-serif;
	color:#131313;
	}
	
input:focus { border: 2px solid #000; }
input:invalid { border: 2px solid #F00; }

.submit input {  
    width: auto;  
    padding: 9px 15px;  
    background: #e32500 ;  
    border: 2px;  
    font-size: 16px;  
    color: #fff;  
    }  
    
 

/* 1280px*/
@media screen and (max-width: 2400px){
	h1 {font-size: 300%;}
	#bienvenido{
		margin:12% 15% 0% 0%; }
	img{width: 130%;}
	#usuario, #contrasenia{
    font-size: 24px; 
	}
}

/* 1024px*/
@media screen and (max-width: 1600px){
	h1 {font-size: 250%;}
	#bienvenido {
		margin:10% 17% 0% 0%;}
	img	{width: 120%;}
	#container{
		height:80%;
	}
}

/* 800px*/
@media screen and (max-width: 1280px){
	img	{width: 170%;}
	h1 {display: none; visibility: hidden; }
	#container{
		height:90%;
	}
	
}
